.gca-customizer__side {
	position: relative;
	z-index: 5;
	display: flex;
	flex-direction: column;
	width: var(--customizer-width);
	padding-top: 32px;
	padding-bottom: 66px;
	background-color: var(--color--app);
	box-shadow: 0 0 30px rgba(0,0,0, .2);
	overflow: hidden;
	overflow-y: auto;
}
