//
//	PRESETS
//
.gcu-presets {
	background: var(--color--primary);

	select {
		width: 100%;
		padding: var(--padd--sm);
		color: var(--color--heading);
		background-color: #fff;
		border: none;
		border-radius: 6px;
		outline: none;
		box-shadow: none;

		&:hover {
			color: var(--color--heading);
		}

		&:focus {
			color: var(--color--heading);
			border: none;
			box-shadow: none;
			outline: none;
		}
	}
}

.gcu-presets__label {
	display: flex;
	align-items: center;
	font-size: 80%;
	text-transform: uppercase;
	color: #fff;
	white-space: nowrap;
	justify-content: space-between;

	> i {
		margin-right: var(--padd);
		opacity: .5;
	}
}

.gcu-presets__manage {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	align-items: center;
	width: 100%;
	padding: var(--padd);
}

.gcu-presets__options {
	margin-left: auto;

	.gcu-dropdown__toggle {
		> button {
			height: 100%;
			padding: 4px 6px;
			color: #fff;
			background-color: rgba(0,0,0, .15);
			border-radius: 6px;

			&:hover {
				color: #fff;
				background-color: rgba(0,0,0, .25);
			}
		}
	}

	.gcu-dropdown__menu {
		padding-top: 50px;
	}
}

.gcu-presets__choose {
	padding: var(--padd);
	padding-top: 0;
}

.gcu-presets__actions {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	align-items: center;
	gap: var(--padd);
	padding: var(--padd);
	padding-top: 0;

	> * {
		width: 50%;
	}
}

.gcu-presets__actions-group {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	align-items: center;
	gap: 5px;

	> button {
		width: 100%;
	}
}

.gcu-presets__action {
	padding: var(--padd--sm);
	color: #000;
	background-color: #bbaff2;
	border-radius: 6px;

	&:hover {
		box-shadow: 0 0 0 3px rgba(0,0,0, .15);
	}

	&:disabled {
		color: #4f4580;
		background-color: #7668b4;
		cursor: not-allowed;

		&:hover {
			color: #4f4580;
			background-color: #7668b4;
			box-shadow: none;
		}
	}
}

.gcu-presets__action--pulse {
	animation: gcu-btn-pulse 2s infinite linear;
}

@keyframes gcu-btn-pulse {
  0% { background-color: #bbaff2; }
  50% { background-color: yellow; }
  100% { background-color: #bbaff2; }
}

//
//
//	OLD STYLES
//
//
.gca-customizer__presets {
	border-top: 1px solid #e1def2;
	border-bottom: 1px solid #e1def2;
	background: rgb(245,244,251);
	background: -webkit-linear-gradient(rgba(245,244,251,1) 0%, rgba(239,238,251,1) 100%);
	background: -o-linear-gradient(rgba(245,244,251,1) 0%, rgba(239,238,251,1) 100%);
	background: linear-gradient(rgba(245,244,251,1) 0%, rgba(239,238,251,1) 100%);

	select {
		width: 100%;
		padding: var(--padd) var(--padd--md);
		color: var(--color--text);
		background-color: var(--color--app);
		border: none;
		outline: none;
		box-shadow: 0 0 0 2px rgba(0,0,0, .05);

		&:hover {
			color: var(--color--text);
		}

		&:focus {
			color: var(--color--text);
			box-shadow: 0 0 0 2px rgba(0,0,0, .05);
		}
	}
}

.gca-customizer__presets-options {
	position: relative;
	padding: var(--padd--md);
	padding-top: 0;
}

.gca-customizer__presets-actions {
	display: flex;
	align-content: stretch;
	margin: 4px;
}

.gca-customizer__presets-action {
	padding: var(--padd);
	background-color: rgba(255,255,255, .65);

	&:first-child {
		border-left: 1px solid var(--divider--light);
		border-right: 1px solid var(--divider--light);
	}

	> span {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		font-size: 80%;
		line-height: 48px;
		text-align: center;
		color: var(--color--primary--light);
		background-color: rgba(255,255,255, .8);
	}

	&:hover {
		background-color: rgba(0,0,0, .05);
	}

	&:disabled {
		opacity: .5;
		cursor: not-allowed;
	}

	.gc-dropdown__box & {
		display: block;
		width: 100%;
		border: none;
		text-align: left;
	}
}

.gca-customizer__presets-info {
	> span {
		display: block;
		padding: var(--padd) var(--padd--md);
		font-size: 80%;
		border-top: 1px solid var(--divider--light);

		i {
			margin-right: var(--padd);
			opacity: .3;
		}
	}
}

.gca-customizer__presets-label {
	display: flex;
	align-items: center;
	padding: var(--padd) var(--padd--md);
	color: var(--color--primary);
	white-space: nowrap;
	justify-content: space-between;
	cursor: pointer;
}

.gc-customizer__preset-togg {}

.gca-customizer__presets-add {
	padding: var(--padd);
	background-color: var(--color--app);
	border-bottom: 1px solid var(--divider--light);
}

.gca-customizer__presets-add-title {
	margin-bottom: var(--padd);
	color: var(--color--text);
	font-size: 80%;
	font-weight: bold;
	text-transform: uppercase;

	> i {
		margin-right: var(--padd);
		opacity: .5;
	}
}

.gca-customizer__presets-add-name {
	input {
		width: 100%;
	}
}

.gca-customizer__presets-add-actions {
	display: flex;
	text-align: center;
}

.gca-customizer__presets-add-action {
	width: 50%;
	display: block;
	margin-top: var(--padd);
	padding: var(--padd--sm);
	color: var(--color--text--light);
	background-color: var(--color--app);
	box-shadow: inset 0 0 0 1px var(--divider);
	transition: all .2s ease;
	cursor: pointer;

	&:hover {
		color: var(--color--text);
		box-shadow: inset 0 0 0 1px var(--divider);
	}
}

.gca-customizer__presets-add-action--cancel {
	border-top-left-radius: var(--radius);
	border-bottom-left-radius: var(--radius);
}

.gca-customizer__presets-add-action--save {
	color: rgba(255,255,255, .8);
	background-color: var(--color--primary--light);
	border-top-right-radius: var(--radius);
	border-bottom-right-radius: var(--radius);

	&:hover {
		color: #fff;
	}
}

.gca-customizer__presets-alert {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.gca-customizer__presets-alert-overlay {
	position:absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: white;
	opacity: .7;
}

.gca-customizer__presets-alert-inner {
	position: relative;
	padding: var(--padd) var(--padd--md);
	background: white;
	font-size: smaller;
}
