.gca-customizer__preview {
	flex-grow: 2;
	padding-top: 32px;
	background-color: #f0f2f3;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23d3dde1' fill-opacity='0.4'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.gca-customizer__view {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;

	iframe {
		position: relative;
		z-index: 1;
		box-shadow: 0 0 30px rgba(0,0,0, .2);
		transition: all .3s ease;
	}

	.gca-customizer__bar.open + & {
		height: 85%;
	}
}

.gca-customizer__view-loading {
	position: absolute;
	z-index: 0;
	top: 50%;
	left: 0;
	right: 0;
	transform: translateY(-50%);
	margin-top: 0;
	margin-bottom: var(--padd--md);
	font-size: 30px;
	text-align: center;
	color: #333;

	> p {
		font-size: 18px;
	}

	> i {
		color: var(--color--primary--light);
	}
}
