.content {
	grid-area: content;

	@include mq($until: desktop) {
		width: 100%;
		order: 1;
		margin-bottom: $padd--md;

		&:last-child {
			margin-bottom: 0;
		}
	}

	@include mq($from: desktop) {
		max-width: var(--c-gc-main-column-maxwidth);
		min-width: var(--c-gc-main-column-maxwidth);
		margin-left: auto;
		margin-right: auto;
	}
}
