html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

html {
	max-width: 100%;
	height: 100%;
	margin-top: 0 !important;
	overflow-x: hidden;

	* {
			box-sizing: border-box;

			&:before,
			&:after {
				box-sizing: border-box;
			}
	}
}

#body {
	position: relative !important;
}

body {
	position: relative !important;
	right: 0;

	//	Use flexbox to make footer stick to the bottom of the window
	@include mq($from: desktop) {
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		flex-direction: column;
	}

	max-width: 100%;
	min-height: 100%;
	font-size: var(--GC-FONT-SIZE);
	font-family: var(--GC-FONT-FAMILY) !important;
	line-height: 1.15;
	color: var(--GC-COLOR--TEXT);
	background-color: var(--c-gc-body-bg);
	background-size: var(--c-gc-body-bg-image-size);
	background-repeat: var(--c-gc-body-bg-image-repeat);
	background-position: center center;
	background-attachment: var(--c-gc-body-bg-image-fixed);
	transition: right .3s ease;
	height: auto;

	.gecko & {
			padding-top: var(--c-gc-header-height);

			@include mq($from: desktop) {
					padding-top: var(--c-gc-header-height);
			}
	}

	&.admin-bar {
			padding-top: calc(var(--c-gc-header-height) + 32px);

			@include mq($until: 782px) {
					padding-top: calc(var(--c-gc-header-height) + 46px);
			}
	}

	.header-is-transparent.page-is-builder-friendly &,
	.header-is-static &,
	.header-is-hidden & {
			padding-top: 0;

			&.admin-bar {
					padding-top: 32px;

					@include mq($until: 782px) {
							padding-top: 46px;
					}
			}
	}
}

.screen-reader-text {
	display: none;
}

ol, ul {
	list-style: none;
	line-height: var(--GC-LINE-HEIGHT);
}

ul,
ol {
	margin-bottom: var(--PADD--MD);

	@if $rtl {
		padding-right: var(--PADD--MD);
	} @else {
		padding-left: var(--PADD--MD);
	}

	li {
		list-style-type: disc;
	}

	&:last-child {
		margin-bottom: 0;
	}
}

ol {
	li {
		list-style-type: decimal;
	}
}

p {
	margin-bottom: var(--PADD--MD);
}

time {
	font-size: 70%;
}

pre {
	overflow-x: auto;
	margin-bottom: var(--PADD--MD);

	&:last-child {
		margin-bottom: 0;
	}
}

sup {
	font-size: 80%;
	vertical-align: super;
}

sub {
	font-size: 80%;
	vertical-align: sub;
}

hr {
	width: 100%;
	height: 2px;
	margin-top: var(--PADD--MD);
	margin-bottom: var(--PADD--XL);
	background-color: var(--DIVIDER--LIGHT);
	border: none;
}

blockquote, q {
	quotes: none;

	&:before,
	&:after {
		content: '';
		content: none;
	}
}

blockquote {
	position: relative;
	margin-bottom: var(--PADD--MD);
	padding: var(--PADD--MD) !important;
	background-color: var(--GC-COLOR--APP--GRAY);
	border-radius: var(--BORDER-RADIUS--MD);
	//box-shadow: inset 0 0 0 2px var(--DIVIDER--LIGHTEN);

	&:before {
		position: absolute;
		top: 3px;
		left: 5px;
		content: "\f10d";
		font-family: "Font Awesome 6 Free";
		font-weight: 900;
		font-size: 80%;
		color: var(--GC-COLOR--TEXT--LIGHT);
	}

	&:after {
		position: absolute;
		right: 5px;
		bottom: 3px;
		content: "\f10e";
		font-family: "Font Awesome 6 Free";
		font-weight: 900;
		font-size: 80%;
		color: var(--GC-COLOR--TEXT--LIGHT);
	}

	em {
		display: block;
		margin-bottom: var(--PADD);
		font-size: var(--GC-FONT-SIZE);
		font-weight: 300;
	}

	cite {
		font-size: 80%;
		color: var(--GC-COLOR--TEXT--LIGHT);
	}

	// br,
	// > p > br {
	// 	display: none;
	// }

	&:last-child {
		margin-bottom: 0;
	}
}

em {
	font-style: italic;
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}

h1, h2, h3, h4, h5, h6 {
	margin-bottom: var(--PADD--MD);
	line-height: var(--GC-LINE-HEIGHT);
	color: var(--COLOR--HEADING);
}

h1 {
  font-size: 200%;
}

h2 {
  font-size: 160%;
}

h3 {
  font-size: 140%;
}

h4 {
  font-size: 110%;
}

article {
	p {
		line-height: var(--GC-LINE-HEIGHT);
	}
}

a {
	color: var(--GC-COLOR--LINK);
	text-decoration: none;

	&:focus {
		box-shadow: none;
		outline: none;
	}

	@include mq($from: tablet) {
		&:hover {
			color: var(--GC-COLOR--LINK--HOVER);
		}

		&:focus {
			color: var(--GC-COLOR--LINK--FOCUS);
		}
	}
}

button,
input[type="submit"],
input[type="button"] {
	font-family: var(--GC-FONT-FAMILY) !important;
	cursor: pointer;
}

@mixin gc-input {
	--font-size: var(--GC-FONT-SIZE);
  --line-height: var(--GC-LINE-HEIGHT);
  --height: auto;
  --input-padd: var(--PADD);
  --radius: var(--BORDER-RADIUS--MD);

  position: relative;
  z-index: 1;
  width: 100%;
  height: var(--height);
  margin: 0;
  padding: var(--input-padd);
  font-family: var(--GC-FONT-FAMILY);
  font-size: var(--font-size);
  line-height: var(--line-height);
  color: var(--GC-COLOR--TEXT);
  background-color: var(--GC-COLOR--APP);
  border: 1px solid var(--DIVIDER--LIGHT);
  border-radius: var(--radius);
  box-shadow: inset 0 0 0 1px transparent;
  outline: none;
  transition: box-shadow .2s ease;
	//-webkit-appearance: none;

  &:hover {
    background-color: var(--GC-COLOR--APP);
    border: 1px solid var(--DIVIDER);
    box-shadow: inset 0 0 0 1px transparent;
    outline: none;
		//-webkit-appearance: none;
  }

  &:focus {
    position: relative;
    z-index: 1;
    background-color: var(--GC-COLOR--APP);
    border: 1px solid var(--INPUT-SHADOW--IN);
    box-shadow: 0 0 0 3px var(--INPUT-SHADOW);
    outline: none;
		//-webkit-appearance: none;
  }

  &:disabled {
    background-color: var(--GC-COLOR--APP--GRAY);
    border: 1px solid var(--DIVIDER--LIGHT);
    box-shadow: inset 0 0 0 1px transparent;
  }
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="search"],
input[type="url"],
input[type="number"],
input[type="date"],
input[type="file"] {
	@include gc-input;
}

input[type="submit"] {
	cursor: pointer;
}

select {
	@include gc-input;
}

textarea {
	@include gc-input;

	resize: vertical;
}

table {
	margin-top: var(--PADD--MD);
	margin-bottom: var(--PADD--MD);
  width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	text-align: left;

	@if $rtl {
		text-align: right;
	} @else {
		text-align: left;
	}

	&:first-child {
		margin-top: 0;
	}

	&:last-child {
		margin-bottom: 0;
	}
}

audio,
video {
	vertical-align: middle;
}

.clearfix {
	content: " ";
	clear: both;
	display: block;

	&:after {
		content: " ";
		clear: both;
		display: block;
	}
}

@mixin gc-btn {
  --padd: var(--PADD) var(--PADD--MD);
  --font-size: 85%;
  --line-height: var(--GC-LINE-HEIGHT);
	--bg: var(--c-ps-btn-action-bg);
	--color: var(--c-ps-btn-action-color);
	--bg--hover: var(--c-ps-btn-action-bg-hover);
	--color--hover: var(--c-ps-btn-action-color-hover);
  --radius: var(--BORDER-RADIUS--MD);
  --border: var(--DIVIDER--LIGHTEN);

	display: inline-block;
	padding: var(--padd);
	font-size: var(--font-size);
	line-height: var(--line-height);
	background-color: var(--bg);
	color: var(--color);
	border-radius: var(--radius);
	border: none;
	outline: none;

	&:hover,
	&:focus,
	&:active {
		background-color: var(--bg--hover);
		color: var(--color--hover);
	}
}

.gc-btn {
	@include gc-btn;
}

button {
	@include gc-btn;
}

input[type="button"] {
	@include gc-btn;
}

input[type="submit"] {
	@include gc-btn;
}

@mixin checkbox {
	display: inline-block;
	clear: none;
	cursor: pointer;
	line-height: 0;
	height: 17px;
	margin: -3px 4px 0 0;
	outline: 0;
	padding: 0;
	text-align: center;
	vertical-align: middle;
	width: 20px;
	min-width: 20px;
	transition: all .2s linear;
}
