$rtl: false;

@import 'vars';

// RTL SETTINGS
$rtl: false;

// GLOBAL VARIABLES
:root {
	--PADD--XS: calc(var(--PADD) / 4);
	--PADD--SM: calc(var(--PADD) / 2);
	--PADD: 10px;
	--PADD--MD: calc(var(--PADD) * 2);
	--PADD--XL: calc(var(--PADD) * 3);

	--CONTAINER: 1280px;

	--DIVIDER: rgba(70, 77, 87, 0.15);
	--DIVIDER--LIGHT: rgba(70, 77, 87, 0.1);
	--DIVIDER--LIGHTEN: rgba(70, 77, 87, 0.05);
	--DIVIDER--DARK: rgba(70, 77, 87, 0.25);
	--DIVIDER--R: rgba(255, 255, 255, 0.1);
	--DIVIDER--R--LIGHT: rgba(255, 255, 255, 0.05);

	--FONT-SIZE: 18px;
	--MIN-FONT-SIZE: 12px;
	--LINE-HEIGHT: 1.4;

	--COLOR--PRIMARY: #6271eb;
	--COLOR--PRIMARY--SHADE: #bfc5f1;
	--COLOR--PRIMARY--LIGHT: #8e99f1;
	--COLOR--PRIMARY--ULTRALIGHT: #e9ebfa;
	--COLOR--PRIMARY--DARK: #4e5bc5;

	--COLOR--ALT: #27b194;
	--COLOR--ALT--LIGHT: #60d6bd;
	--COLOR--ALT--DARK: #199c80;

	--COLOR--GRADIENT--DEG: 0deg;
	--COLOR--GRADIENT--ONE: var(--COLOR--PRIMARY--LIGHT);
	--COLOR--GRADIENT--TWO: var(--COLOR--ALT--LIGHT);
	--COLOR--GRADIENT--TEXT: #fff;
	--COLOR--GRADIENT--LINKS: rgba(255, 255, 255, 0.8);
	--COLOR--GRADIENT--LINKS--HOVER: #fff;
	--COLOR--GRADIENT: linear-gradient(var(--COLOR--GRADIENT--DEG), var(--COLOR--GRADIENT--ONE) 0%, var(--COLOR--GRADIENT--TWO) 100%);

	--COLOR--INFO: #0085ff;
	--COLOR--INFO--LIGHT: #BBDEFB;
	--COLOR--INFO--ULTRALIGHT: #E3F2FD;
	--COLOR--INFO--DARK: #016df7;
	--COLOR--SUCCESS: #66BB6A;
	--COLOR--SUCCESS--LIGHT: #C8E6C9;
	--COLOR--SUCCESS--ULTRALIGHT: #E8F5E9;
	--COLOR--SUCCESS--DARK: #4CAF50;
	--COLOR--WARNING: #FFA726;
	--COLOR--WARNING--LIGHT: #FFE0B2;
	--COLOR--WARNING--ULTRALIGHT: #FFF3E0;
	--COLOR--WARNING--DARK: #F57C00;
	--COLOR--ABORT: #E53935;
	--COLOR--ABORT--LIGHT: #FFCDD2;
	--COLOR--ABORT--ULTRALIGHT: #FFEBEE;
	--COLOR--ABORT--DARK: #D32F2F;

	--COLOR--ONLINE: #00b935;

	--COLOR--APP: #fff;
	--COLOR--APP--LIGHTGRAY: #FBFBFB;
	--COLOR--APP--GRAY: #F8F9FB;
	--COLOR--APP--DARKGRAY: #ECEFF4;
	--COLOR--APP--DARK: #46494f;
	--COLOR--APP--DARKER: #202124;

	--COLOR--HEADING: #333;
	--COLOR--TEXT: #494954;
	--COLOR--TEXT--LIGHT: #91919d;
	--COLOR--TEXT--LIGHTEN: #b0b0b9;
	--COLOR--TEXT--INVERT: #fff;

	--BORDER-RADIUS--SM: calc(var(--BORDER-RADIUS) / 2);
	--BORDER-RADIUS: 8px;
	--BORDER-RADIUS--MD: calc(var(--BORDER-RADIUS) + (var(--BORDER-RADIUS) / 2));
	--BORDER-RADIUS--XL: calc(var(--BORDER-RADIUS) * 2);
	--BORDER-RADIUS--AVATAR: 100%;

	--BOX-SHADOW-DIS: 0px;
	--BOX-SHADOW-BLUR: 0px;
	--BOX-SHADOW-THICKNESS: 1px;
	--BOX-SHADOW-COLOR: rgba(18, 38, 65, 0.0901);

	--BOX-SHADOW--HARD: 0 var(--BOX-SHADOW-DIS) var(--BOX-SHADOW-BLUR) var(--BOX-SHADOW-THICKNESS) var(--BOX-SHADOW-COLOR);
	--BOX-SHADOW: 0 1px 2px rgba(70, 77, 87, 0.08);
	--BOX-SHADOW--MD: 0 0 20px rgba(70, 77, 87, 0.15);
	--BOX-SHADOW--XL: 0 20px 30px rgba(70, 77, 87, 0.1);

	--INPUT-SHADOW: var(--COLOR--PRIMARY--ULTRALIGHT);
	--INPUT-SHADOW--IN: var(--COLOR--PRIMARY--LIGHT);
}



@import 'new-vars';
@import 'theme';