.rehub_chimp{position: relative; margin: 30px auto}
.rehub_chimp #mc_embed_signup {overflow:hidden; width:500px;position: relative;vertical-align: middle;margin: 0; background-color: transparent; padding: 0; max-width: 100%}
.rehub_chimp #mc_embed_signup form{ padding: 0}
.rehub_chimp #mc_embed_signup input.email {border: 1px solid #d9d9d9;width: 100%;outline: none;font-weight: normal;font-size: 15px; padding: 12px 10px}
.rehub_chimp #mc_embed_signup input#mc-embedded-subscribe {position: absolute;right: 0;top: 0;height: 100%;border:none;font-size: 16px;text-shadow: none;font-weight: bold;color: #fff !important;width: 150px;cursor:pointer; box-shadow: none; padding: 12px 10px}
.rehub_chimp.centered_form #mc_embed_signup{ margin: 5px auto; }
.rehub_chimp.centered_form{text-align: center;}
.rehub_chimp_flat #mc_embed_signup input.email {border: 1px solid #111;width: 100%;outline: none;font-weight: normal;font-size: 15px; padding: 12px 10px; border-radius: 0}
.widget .rehub_chimp #mc_embed_signup input#mc-embedded-subscribe{height:auto;position: static; margin: 10px auto; width: 100%; }
.rehub_chimp_flat #mc_embed_signup input#mc-embedded-subscribe {position: absolute;right: 0;top: 0;height: 100%;border:none;font-size: 16px;text-shadow: none;font-weight: bold;color: #fff !important;width: 150px;background:none #5EB936;cursor:pointer; box-shadow: none; padding: 12px 10px; margin: 0; border-radius: 0}
.rehub_chimp{background-color: #F5F5F5;padding: 20px; border: 4px solid #E6E6E6; text-align: center;}
.rehub_chimp_flat #mc_embed_signup{position: relative;vertical-align: middle;margin: 0; background-color: transparent; padding: 0; max-width: 100%}
.rehub_chimp #mc_embed_signup label, .rehub_chimp_flat #mc_embed_signup label{ display: none;}
.rehub_chimp_flat #mc_embed_signup .clear{height: auto;}
.rehub_chimp h3{ text-transform: uppercase; font-size: 23px;margin: 10px 0 20px 0;}
.rh-mini-sidebar .rehub_chimp h3{font-size: 20px}
.rehub_chimp .clear{height: auto}
.rehub_chimp p.chimp_subtitle, .rehub_chimp p{margin: 15px auto; color: #888}
.rehub_chimp:before {position: absolute;top: 0;left: 50%;width: 40px;height: 40px;line-height: 40px;border-radius: 50%;content: "\f0e0";font-size: 20px;color: #fff;margin: -20px 0 0 -20px;}
@media screen and (max-width: 1023px) and (min-width: 768px) {
.widget .rehub_chimp_flat #mc_embed_signup input#mc-embedded-subscribe{width: 100%; position: static; margin-top: 10px}
}
@media screen and (max-width: 767px) {
.rehub_chimp #mc_embed_signup input.button{ position: static; border-radius: 5px !important; margin: 0 auto}
.rehub_chimp #mc_embed_signup input.email{ text-align: center;}
.rehub_chimp #mc_embed_signup input#mc-embedded-subscribe{position: static;margin: 10px auto;}
}

@media screen and (max-width: 479px) {
.rehub_chimp_flat #mc_embed_signup input#mc-embedded-subscribe, #mc_embed_signup input#mc-embedded-subscribe{position: static; margin: 10px auto; width: 100%;  display: block;}
}