/* Pricing Table
================================================== */
.wpsm-price li { margin: 0; }
.wpsm-price .wpsm-price-column { float: left; display: inline; text-align: center; margin-right: -1px }
.wpsm-price .wpsm-price-column.wpsm-featured-price { margin: -10px 0; margin-right: -1px; z-index: 1000 }
.wpsm-price .wpsm-price-column .wpsm-price-header { background: #333 url(../images/sep_home.png) bottom repeat-x; border-left: 1px solid #4F4F4F; border-right: 1px solid #4F4F4F; }
.wpsm-price .wpsm-price-column.wpsm-featured-price .wpsm-price-header { background-color: #fb7203; border: none; }
.wpsm-price .wpsm-price-column .wpsm-price-header h4 { color: #fff; padding: 20px 0; margin: 0; text-align: center; font-size: 22px; line-height: 22px }
.wpsm-price .wpsm-price-column.wpsm-featured-price .wpsm-price-header h4 { color: #fff; text-shadow: 0 1px 0px #7494a5 }
.wpsm-price .wpsm-price-column .wpsm-price-cell { font-size: 14px; color: #111; padding: 20px; background-color: #f2f2f2; border-bottom: 1px solid #e2e2e2; }
.wpsm-price .wpsm-price-column .wpsm-price-cell .wpsm-price-value { font-size: 24px; }
.wpsm-price .wpsm-price-column.wpsm-featured-price .wpsm-price-cell { background-color: #f2f2f2; color: #333; }
.wpsm-price .wpsm-price-column .wpsm-price-content { padding-bottom: 20px; border: 1px solid #e0e0e0; }
.wpsm-price .wpsm-price-column .wpsm-price-content ul { margin: 0; margin-bottom: 10px; padding: 10px 20px; list-style: none; }
.wpsm-price .wpsm-price-column .wpsm-price-content ul li { padding: 10px 0; margin: 0; border-bottom: 1px solid #e2e2e2; font-size: 12px; color: #666; list-style: none; }
.wpsm-price .wpsm-price-column.wpsm-featured-price .wpsm-price-content ul li { font-size: 13px; padding: 12px 0; color: #333 }
.wpsm-price .wpsm-price-column .wpsm-price-content ul li:hover { color: #999 }
.wpsm-price .wpsm-price-column.wpsm-featured-price .wpsm-price-header h4 { text-shadow: 0 1px 0px #a72b2b }
.wpsm-price.clear:before, .wpsm-price.clear:after { content: "."; display: block; font-size: 0; height: 0; line-height: 0; overflow: hidden; visibility: hidden; width: 0; }
.wpsm-price .wpsm-price-button span.wpsm-button-inner { padding: 8px 18px; font-size: 16px; }
.wpsm-price .wpsm-price-column.wpsm-featured-price .wpsm-price-button { padding: 4px 0; }
.wpsm-price .wpsm-price-column.wpsm-featured-price .wpsm-price-button span.wpsm-button-inner { padding: 12px 22px; font-size: 17px }
.wpsm-price.clear:after { clear: both; }
@media only screen and (max-width: 600px) {
.wpsm-price .wpsm-price-column { float: none; }
.wpsm-pricing-table > div { margin-bottom: 25px; }
}