.rh-sslide-panel-wrap {position: fixed;width: 400px;height: 100%;top: 0;background: #ecf0f1;z-index: 1;transition: transform .3s ease-in .3s;}
.rh-sslide-panel-heading{position: fixed;width: 400px;background: rgba(255, 255, 255, 0.96);box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);z-index: 2;transition: top 0.3s 0s; top:-50px;}
.rh-sslide-panel-tabs{height: 100%;overflow: auto;}
.from-right .rh-sslide-panel-wrap {right: 0;transform: translate3d(100%, 0, 0);}
.active .rh-sslide-panel-wrap {transform: translate3d(0, 0, 0);transition-delay: 0s;}
.active .rh-sslide-panel-heading {top: 0;transition: top 0.3s 0.3s;}
.rh-sslide-panel.active:after {background: rgba(0, 0, 0, 0.6);transition: background 0.3s 0s;}
.rh-sslide-panel:after {position: absolute;top: 0;left: 0;width: 100%;height: 100%;background: transparent;cursor: pointer;transition: background 0.3s 0.3s;content: "";}
.rh-sslide-panel-inner{opacity: 0; -webkit-backface-visibility: hidden; height:100%;}
.active .rh-sslide-panel-inner{opacity: 1; transition: all .4s .3s;}
.rh-sslide-panel .widget_shopping_cart_content {display: flex;flex: 1 1 auto;flex-direction: column;align-items: stretch;justify-content: space-between;height: 100%;}
.rh-sslide-panel ul.product_list_widget li, .rh-sslide-panel .woocommerce-mini-cart__total, .rh-sslide-panel .buttons, .rh-sslide-panel .woocommerce-mini-cart__empty-message, .rh-sslide-panel .widget_shopping_cart_content > p{padding-left:20px; padding-right:20px;}
.rh-sslide-panel .woocommerce-mini-cart__total{margin-top:auto;}
.rh-sslide-panel .woocommerce-mini-cart__buttons{margin-bottom:20px;}
@media only screen and (max-width: 1170px){
.rh-sslide-panel-wrap, .rh-sslide-panel-heading{width: 340px;}	
}