.widget,
.gc-widget,
.dokan-store-widget {
  --bg: var(--c-gc-widget-bg);
  --text-color: var(--c-gc-widget-text-color);
  // --links-color: var(--c-gc-widget-links-color);
  // --links-color--hover: var(--c-gc-widget-links-color-hover);
  --shadow: var(--BOX-SHADOW--HARD);
  --radius: var(--BORDER-RADIUS--XL);
  --widgets-gap: var(--c-gc-sidebar-widgets-gap);

  position: relative;
  margin-bottom: var(--widgets-gap);
  padding: var(--PADD--MD);
  color: var(--text-color);
  background-color: var(--bg);
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  margin-top: 0;

  &.widget_block {
    display: block;
    padding: 0;
    background-color: transparent;
    border: none;
    box-shadow: none;

    > * {
      display: block;
      padding: var(--PADD--MD);
      background-color: var(--bg);
      border-radius: var(--radius);
      box-shadow: var(--shadow);
    }
  }

  // a {
  //   color: var(--links-color);
  //
  //   &:hover,
  //   &:focus {
  //     color: var(--links-color--hover);
  //   }
  // }

  // Fix PeepSo Userbar in header
  &.sticky-top__widget,
  &.header__widget.widget_peepsowidgetuserbar {
    --bg: transparent;
    --shadow: none;
    position: static;

    > * {
      padding: 0;
      border-radius: var(--radius);
      box-shadow: var(--shadow);

      &:not(.psw-userbar--open) {
        background-color: var(--bg);
      }
    }
  }

  h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
  }

  h1 {
    font-size: 130%;
  }

  h2 {
    font-size: 110%;
  }

  h3 {
    font-size: 100%;
  }

  .screen-reader-text {
    display: none;
  }

  &:last-child {
    margin-bottom: 0;
  }

  @include mq($from: desktop) {
    margin-bottom: var(--widgets-gap);

    .gc-widgets--top &,
    .gc-widgets--bottom & {
      margin-bottom: 0;
    }
  }

  .is-layout-flex {
    display: flex;
  }
}

.widget_block {
  p {
    line-height: 1.6;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.wp-block-embed {
  &:last-child {
    margin-bottom: 0;
  }
}

.gc-widget--none {}

.gc-widget--preview {
  max-width: 300px;
  margin: var(--PADD--MD) auto;

  &.widget_peepsowidgetuserbar {
    max-width: 100%;
    margin: var(--PADD--MD);
  }

  &:last-child {
    margin-bottom: var(--PADD--MD);
  }

  .psw-profile {
    .widgettitle {
      margin-top: calc(-1 * (var(--PADD--MD)));
      margin-left: calc(-1 * (var(--PADD--MD)));
      margin-right: calc(-1 * (var(--PADD--MD)));
      margin-bottom: 0;
      padding: var(--PADD) var(--PADD--MD);
      font-size: 100%;
      font-weight: normal;
      color: var(--GC-COLOR--TEXT);
      border-bottom: 1px solid var(--DIVIDER--LIGHT);
    }
  }

  .ps-widget__header--external {
    margin-top: calc(-1 * (var(--PADD--MD)));
    margin-left: calc(-1 * (var(--PADD--MD)));
    margin-right: calc(-1 * (var(--PADD--MD)));
    margin-bottom: var(--PADD--MD);
    padding: var(--PADD) var(--PADD--MD);
    border-bottom: 1px solid var(--DIVIDER--LIGHT);

    .widgettitle {
      margin-top: 0;
      margin-bottom: 0;
      font-size: 100%;
      font-weight: normal;
    }

    a {
      color: var(--GC-COLOR--TEXT);

      &:hover,
      &:focus {
        color: var(--GC-COLOR--TEXT--LIGHT);
      }
    }

    .gc-widget--clean & {
      margin: 0;
      margin-bottom: var(--PADD--MD);
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.gc-widget--clean {
  --bg: transparent;
  --shadow: none;

  padding: 0;
}

.gc-widget--bordered {
  background-color: transparent;
  box-shadow: inset 0 0 0 3px var(--DIVIDER--LIGHT);
}

.gc-widget--gradient {
  --INPUT-SHADOW: rgba(0,0,0, .1);
	--INPUT-SHADOW--IN: transparent;

  color: var(--widget--gradient-color);
  background: var(--widget--gradient-bg);
  background: -webkit-linear-gradient(var(--widget--gradient-deg), var(--widget--gradient-bg-2) 0%, var(--widget--gradient-bg) 100%);
  background: -o-linear-gradient(var(--widget--gradient-deg), var(--widget--gradient-bg-2) 0%, var(--widget--gradient-bg) 100%);
  background: linear-gradient(var(--widget--gradient-deg), var(--widget--gradient-bg-2) 0%, var(--widget--gradient-bg) 100%);

  p, h1, h2, h3, h4, h5, h6 {
    color: var(--widget--gradient-color);
  }

  a {
    color: var(--widget--gradient-links);

    &:hover,
    &:focus {
      color: var(--widget--gradient-links-hover);
    }
  }

  .ps-input {
    box-shadow: none;
  }
}

.gc-widget--top {}

.gc-widget--bottom {}

.gc-widget--footer {
  margin-bottom: 0;

  &.gc-widget--none {
    padding: 0;
    background-color: transparent;
    box-shadow: none;
  }

  .gc-widget__title {
    margin: 0;
    margin-bottom: var(--PADD);
    padding: 0;
    padding-bottom: var(--PADD);
    font-size: 120%;
    border-bottom: none;
  }
}

.gc-widget__title {
  margin-top: calc(-1 * (var(--PADD--MD)));
  margin-left: calc(-1 * (var(--PADD--MD)));
  margin-right: calc(-1 * (var(--PADD--MD)));
  margin-bottom: var(--PADD--MD);
  padding-top: var(--PADD--MD);
  padding-left: var(--PADD--MD);
  padding-right: var(--PADD--MD);
  padding-bottom: 0;

  > h3 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 110%;
    font-weight: normal;
  }

  a {
    color: var(--GC-COLOR--TEXT);

    &:hover,
    &:focus {
      color: var(--GC-COLOR--TEXT--LIGHT);
    }
  }

  .gc-widget--clean & {
    margin: 0;
    margin-bottom: var(--PADD--MD);
    padding-left: 0;
    padding-right: 0;
  }
}
