/**
 * Members Locator search form stylesheet "horizontal-custom"
 */
div.gmw-pt-horizontal-big-form-wrapper {
	padding:20px 0 15px 0;
	margin-bottom: 30px
}

div.gmw-pt-horizontal-big-form-wrapper label {
	text-transform:capitalize;
	color:#555;
}

div.gmw-pt-horizontal-big-form-wrapper.gmw-form-wrapper .gmw-form-field-wrapper, div.gmw-pt-horizontal-big-form-wrapper.gmw-form-wrapper .gmw-search-form-multiple-fields-wrapper
{
	display:inline-block;
	margin:0 10px 10px 0px;
	vertical-align: top;
}
 
div.gmw-pt-horizontal-big-form-wrapper form label {
    margin-right:5px;
}

div.gmw-pt-horizontal-big-form-wrapper form .editfield label {
	display:block;
}

div.gmw-pt-horizontal-big-form-wrapper form .editfield{margin: 0 0 10px 0}
div.gmw-pt-horizontal-big-form-wrapper form .editfield span.label,
div.gmw-pt-horizontal-big-form-wrapper form .editfield label {
	display: block;
	font-size: 14px;
	font-weight: bold;
	margin: 0 0 5px 0;
}

div.gmw-pt-horizontal-big-form-wrapper form .editfield div.checkbox label,
div.gmw-pt-horizontal-big-form-wrapper form .editfield div.radio label {
	color: #888;
	font-size: 100%;
	font-weight: normal;
	margin: 0;
}

div.gmw-pt-horizontal-big-form-wrapper form .editfield span.label {
        display:inline-block;
        width:100%;
        margin:3px 0px 3px      
}
	
div.gmw-pt-horizontal-big-form-wrapper form .date input[type="text"] {
	width:30px;
}	


div.gmw-pt-horizontal-big-form-wrapper input[type="text"] {
    padding: 10px 30px 10px 18px;	
	border: 1px solid #ccc;
	font-family: inherit;
	font-size:18px;
	color:#666;
	margin:0px;
	line-height: 30px
} 
 
div.gmw-pt-horizontal-big-form-wrapper select {
	border: 1px solid #ccc;
	font-size: 18px;
	color:#555;
	padding: 10px 30px 10px 18px;
	line-height: 30px;
	-webkit-appearance: none; 
	background: url(select.png) right center no-repeat #fff;
	height: 52px;
}

div.gmw-pt-horizontal-big-form-wrapper .gmw-dropdown-taxonomy-wrapper label, 
div.gmw-pt-horizontal-big-form-wrapper .gmw-checkbox-taxonomy-wrapper span,
div.gmw-pt-horizontal-big-form-wrapper .gmw-custom-field-wrapper label,
div.gmw-pt-horizontal-big-form-wrapper .gmw-saf-wrapper label,
div.gmw-pt-horizontal-big-form-wrapper .gmw-address-field-wrapper label {
display: none;
}

div.gmw-pt-horizontal-big-form-wrapper .gmw-single-taxonomy-wrapper label {
	display:none;
}

div.gmw-pt-horizontal-big-form-wrapper  .gmw-checkbox-taxonomy-wrapper label {
	display:inline-block;
}

div.gmw-pt-horizontal-big-form-wrapper .address-locator-wrapper {
	position:relative;
}

div.gmw-pt-horizontal-big-form-wrapper .gmw-no-address-error {
	border: 1px solid rgb(252, 165, 165) !important;
}

div.gmw-pt-horizontal-big-form-wrapper div.gmw-locator-button-wrapper.text {
	padding: 10px 15px;
	line-height: 30px;
}
div.gmw-pt-horizontal-big-form-wrapper div.gmw-address-field-wrapper i.gmw-locator-button{line-height: 30px}
div.gmw-pt-horizontal-big-form-wrapper .gmw-locator-button-wrapper.image{
	border: 1px solid #ccc;
	padding: 6px 10px;
	background: #fff;
	text-align: center;
}
div.gmw-pt-horizontal-big-form-wrapper .gmw-locator-button-wrapper.image img {
	box-shadow: none;
	max-height: 20px;
	margin-left: 0;
}


div.gmw-pt-horizontal-big-form-wrapper .gmw-locator-button-wrapper img.gmw-locator-btn-loader {
	max-height: 17px;
	margin-left: 3px;
	padding-top: 5px;
}


div.gmw-pt-horizontal-big-form-wrapper .gmw-submit-button {
	padding: 3px 5px;
	background-color: #ABF1D4;
	border:1px solid #9BDFC3;
	text-align:center;
	cursor: pointer;
	display: inline-block;
	color:#375348;
	-webkit-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
    font-size:12px;
}

div.gmw-pt-horizontal-big-form-wrapper .gmw-submit-button:hover {
	background-color:#72D9AE;
}

div.gmw-pt-horizontal-big-form-wrapper .gmw-locator-button-wrapper .gmw-locator-submit {
	display: inline;
}

/* premium features */

div.gmw-pt-horizontal-big-form-wrapper .gmw-radius-slider-wrapper {
    text-align:center;
    display:inline-block;
}

div.gmw-pt-horizontal-big-form-wrapper .gmw-radius-slider-wrapper label {
	margin-right:1px;
	font-size: 12px;
	vertical-align: top;
}

div.gmw-pt-horizontal-big-form-wrapper .gmw-radius-slider-wrapper input {
     max-width:60px;
	font-size:12px;
	vertical-align: top;
	height:18px;
}

div.gmw-pt-horizontal-big-form-wrapper .gmw-radius-slider-wrapper .gmw-slider-range {
	height: 1.0em;
	border-radius: 0px/*{cornerRadius}*/;
	margin-top: -7px;
	height: 8px;
}

div.gmw-pt-horizontal-big-form-wrapper .gmw-radius-slider-wrapper .gmw-slider-range a {
	height:0.9em;
	width:15px
}

div.gmw-pt-horizontal-big-form-wrapper .gmw-checkbox-taxonomy-wrapper {
	margin-bottom:10px;
	vertical-align:top;
}

div.gmw-pt-horizontal-big-form-wrapper .gmw-checkbox-taxonomy-wrapper span {
	display:block
}

div.gmw-pt-horizontal-big-form-wrapper input.gmw-single-checkbox {
	margin-right: 5px;
	
	
}

div.gmw-pt-horizontal-big-form-wrapper gmw-checkbox-taxonomy-wrapper span.label {
	font-weight:bold;
}

/* widget */

.widget_gmw_search_form_widget div.gmw-pt-horizontal-big-form-wrapper.gmw-form-wrapper .gmw-form-field-wrapper {
	display:block;
	margin:0 0px 10px 0px;
}

.widget_gmw_search_form_widget div.gmw-pt-horizontal-big-form-wrapper {
 	background: none;
	padding:0px;
	border:0;
}

.widget_gmw_search_form_widget div.gmw-pt-horizontal-big-form-wrapper input[type="text"], 
.widget_gmw_search_form_widget div.gmw-pt-horizontal-big-form-wrapper select,
.widget_gmw_search_form_widget div.gmw-pt-horizontal-big-form-wrapper div.xfield-trigger {
	width:100%;
	margin: 0;
}

.widget_gmw_search_form_widget div.gmw-pt-horizontal-big-form-wrapper .gmw-submit-button {
	width:100%;
	padding:10px 0px;
}
.widget_gmw_search_form_widget div.gmw-pt-horizontal-big-form-wrapper input.gmw-submit{margin:  15px 0 0 0}


div.gmw-pt-horizontal-big-form-wrapper input.gmw-submit{	
	height: 52px;
    padding: 0 35px;
    font-size: 18px;
    font-weight: normal;
    line-height: 52px;
    position: relative;
    margin:0;
}


@media (max-width:600px) {
	
	div.gmw-pt-horizontal-big-form-wrapper.gmw-form-wrapper .gmw-form-field-wrapper, div.gmw-pt-horizontal-big-form-wrapper input[type="text"], div.gmw-pt-horizontal-big-form-wrapper div.xfield-trigger {
		width:100% !important;
		margin:0 0px 10px 0px !important;
		display:block;
	}

	
	
}