#edd-recurring-form #edd_checkout_form_wrap {
  width: 100% !important;
}

#edd_sl_license_keys + hr + h1 + p + a {
	display: inline-block;
	margin-bottom: 15px;
}

#edd_sl_license_keys + hr + h1 + p + a + h3 {
	padding: 15px 0;
	border-bottom: 3px solid rgba(0,0,0, .1);
	font-weight: normal;
	color: #333;
}

#edd_sl_license_keys + hr + h1 + p + a + h3 em {
	font-weight: bold;
}

#edd_sl_license_keys + hr + h1 + p {
	display: none;
}

#edd-recurring-update-submit {
	padding: 10px 15px;
	color: #fff;
	background-color: var(--color--primary);
	border-radius: 6px;
	border: none;
	cursor: pointer;
	font-size: 100%;
}

#edd_checkout_form_wrap {
	.edd-required-indicator {
		color: #d44943;
	}

	input[type="text"],
	input[type="tel"] {
		width: 100%;
	}

	#edd-payment-mode-wrap {
		padding-top: 15px;

		> label {
			display: inline-block;
			padding: 10px;
			background-color: var(--GC-COLOR--APP);
			border-radius: 4px;
			border: 1px solid var(--DIVIDER);
			margin-bottom: var(--PADD);

			&:not(:last-child) {
				margin-right: var(--PADD);
			}

			> input {
				margin-right: 5px;
			}
		}
	}

	#edd_secure_site_wrapper {
		display: flex;
		align-items: center;
		padding: 5px 10px;
		color: #fff;
		background-color: #FFB74D;
		border-radius: 4px;

		.padlock {
			margin-right: 10px;
			vertical-align: middle;

			> svg {
				fill: #F57C00;
			}
		}
	}

	.edd-stripe-new-card {
		padding: 10px;
		background-color: transparent;
		border-bottom-left-radius: 4px;
		border-bottom-right-radius: 4px;

		p {
			display: block;
			padding-bottom: 10px;
			font-size: 14px;
			letter-spacing: 1px;
			color: #aeb2b7;

			> label {
				display: block;
				width: 100%;
				margin-bottom: 10px;

				+ span {
					display: none;
				}
			}

			&:last-child {
				padding-bottom: 0;
			}
		}
	}

	fieldset {
		margin-bottom: 20px;

		> legend {
			display: block;
			width: 100%;
			margin-bottom: 10px;
			padding-bottom: 10px;
			text-transform: uppercase;
			color: var(--GC-COLOR--TEXT);
			border-bottom: 2px solid var(--DIVIDER);
		}

		> p {
			width: 100%;

			> label {
				display: block;
				padding-top: 10px;
				padding-bottom: 10px;
				letter-spacing: 1px;
				color: var(--GC-COLOR--TEXT--LIGHT);

				+ span {
					display: none;
				}
			}
		}

		@include mq($from: desktop) {
			margin-bottom: 30px;

			> legend {
				margin-bottom: 15px;
				padding-bottom: 15px;
			}
		}
	}
}

.widget_edd_product_details {
	> h3 {
    margin-bottom: 0;
    font-weight: 600;

		+ h3 {
			margin-left: -($padd--md);
			margin-right: -($padd--md);
			margin-bottom: 0;
			padding: $padd $padd--md;
			font-weight: normal;
			background-color: var(--DIVIDER--LIGHT);
		}
	}
	
	.edd-meta {
		margin-top: $padd--md;
		font-size: 80%;

		> br {
			display: none;
		}

		> span {
			display: block;
			margin-bottom: $padd;
			padding-bottom: $padd;
			border-bottom: 1px dashed var(--DIVIDER);

			&:last-child {
				margin-bottom: 0;
				padding-bottom: 0;
				border-bottom: none;
			}
		}
	}

	.edd_download_purchase_form {
		margin-left: -($padd--md);
		margin-right: -($padd--md);
		margin-bottom: 0;
		padding: $padd--md;
		border-bottom: 1px solid var(--DIVIDER--LIGHT);
	}

	.edd_purchase_submit_wrapper {
		display: flex;
    flex-direction: column;
    align-items: center;

		.button {
			width: 100%;
		}
	}

	.edd_price_options {
    margin-bottom: var(--PADD);
	}
}

/* CART WIDGET */
.edd-cart {
	.gc-widget--sidebar &,
	.gc-header__cart & {
		margin: 0;
		padding: 0;
		list-style: none;
		list-style-type: none;

		> li {
			list-style: none;
		}

		.empty {
			padding: $padd $padd--md;
		}

		.edd-cart-item {
			position: relative;
			margin-bottom: 0;
			padding-top: $padd;
			padding-right: $padd--lg !important;
			padding-bottom: $padd;
			border-top: 1px solid var(--DIVIDER--LIGHT);
			border-bottom: none;
		}

		.edd_total {
			margin-bottom: 0;
			padding: var(--PADD--MD)  0;
			border-top: 2px solid var(--DIVIDER--LIGHT);
			border-bottom: none;
		}

		.edd_checkout {
			padding: 0;

			> a {
				--bg: var(--c-ps-btn-action-bg);
				--color: var(--c-ps-btn-action-color);
				--bg--hover: var(--c-ps-btn-action-bg-hover);
				--color--hover: var(--c-ps-btn-action-color-hover);

				display: block;
				padding: $padd;
				text-align: center;
				color: var(--color);
				background-color: var(--bg);
				border-radius: var(--radius);

				&:hover {
					color: var(--color--hover);
					background-color: var(--bg--hover);
				}
			}
		}

		.edd-cart-item-separator {
			&:last-of-type {
				display: none;
			}
		}

		.edd-cart-item-price {
			font-weight: bold;
		}

		.edd-remove-from-cart {
			font-size: 0;
			content: " ";

			&:after {
				position: absolute;
				top: 50%;
				right: $padd;
				transform: translateY(-50%);
				font-family: "Font Awesome 6 Free";
				font-style: normal;
				font-weight: 900;
				speak: none;
				display: block;
				text-decoration: inherit;
				font-size: 16px;
				content: "ï—";
			}
		}

		.edd-cart-item-title {
			line-height: 1.2;
		}
	}

	.header__cart & {
		font-size: 90%;

		.edd-cart-item {
			padding-left: $padd--md;
			padding-right: $padd--md;
		}

		.edd_checkout {
			> a {
				border-top-left-radius: 0;
				border-top-right-radius: 0;
			}
		}
	}

	.widget--box &,
	.widget--bordered &,
	.widget--gradient & {
		margin-left: -($padd--md);
		margin-right: -($padd--md);

		.edd-cart-item {
			padding-left: $padd--md;
			padding-right: $padd--md;
		}

		.edd_checkout {
			margin-bottom: -($padd--md);

			> a {
				border-radius: 0;
				border-bottom-left-radius: var(--radius);
				border-bottom-right-radius: var(--radius);
			}
		}
	}
}

.edd-cart-number-of-items {
	.sidebar__widget & {
		margin-bottom: $padd !important;
	}

	.header__cart & {
		margin: 0;
		padding: $padd $padd--md;
		font-size: 80%;
	}
}

.type-download {
	border-radius: var(--radius);
	box-shadow: var(--shadow);

	.entry-header {
		.entry-title {
			margin-bottom: 0;
		}

		padding: $padd $padd--md;
		background-color: var(--GC-COLOR--APP);
		border-bottom: 2px solid var(--DIVIDER--LIGHT);
	}

	.entry-image {
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center center;
		border-top-left-radius: var(--radius);
		border-top-right-radius: var(--radius);
		padding: var(--PADD--MD);

		.archive & {
			min-height: 200px;
			box-shadow: var(--shadow);
		}

		img {
			opacity: 0;
		}
	}

	.archive & {
		box-shadow: none;

		.entry-title {
			font-size: 100%;
		}
	}

	.entry-content {
		padding: $padd--md;
		background-color: var(--GC-COLOR--APP);
		border-radius: var(--radius);
		border-top-left-radius: 0;
		border-top-right-radius: 0;
	}
}

.edd_download_purchase_form {
	margin-bottom: 0;

	.single-download & {
		margin-bottom: 0;
	}

	.edd_price_options {
		> ul {
			border: 1px solid var(--DIVIDER--LIGHT);
			border-radius: var(--radius--sm);
			padding-left: 0;

			> li {
				padding: $padd $padd--md;
				line-height: 1.2;
				border-bottom: 1px dashed var(--DIVIDER);
				list-style-type: none;

				&:last-child {
					border-bottom: none;
				}

				.edd_price_option_name {
					padding-left: $padd--md;

					&:before {
						content: " ";
						position: absolute;
						top: 50%;
						left: 0;
						transform: translateY(-50%);
						display: block;
						width: 12px;
						height: 12px;
						background-color: var(--DIVIDER);
						border-radius: 100%;
						transition: background-color .2s ease;
					}
				}

				.edd_price_option_sep {
					color: var(--GC-COLOR--TEXT--LIGHT);
				}

				.edd_price_option_price {
					color: var(--color--alt);
				}

				label {
					position: relative;
					cursor: pointer;

					input {
						opacity: 0;
						width: 0;
						height: 0;
						position: absolute;

						&:focus,
						&:checked {
							+ .edd_price_option_name {
								&:before {
									background-color: var(--color--alt);
								}
							}
						}
					}
				}
			}
		}
	}
}

.edd_purchase_submit_wrapper {
	.edd-submit.button {
		--bg: var(--c-ps-btn-action-bg);
		--color: var(--c-ps-btn-action-color);
		--bg--hover: var(--c-ps-btn-action-bg-hover);
		--color--hover: var(--c-ps-btn-action-color-hover);

		background-color: var(--bg);
		color: var(--color);
		padding: var(--PADD) var(--PADD--MD);
		font-size: 85%;
		line-height: var(--GC-LINE-HEIGHT);
		//display: inline-block;
		text-align: center;
		border-radius: var(--BORDER-RADIUS--MD);
    transform: none;

		&:hover,
		&:focus {
			background-color: var(--bg--hover);
			color: var(--color--hover);
		}

		article.type-download & {
			margin-top: 15px;
		}
	}

	article.type-download & a.edd-submit {
		display: inline-block;
	}
}

/* PRODUCTS LIST */
.edd_downloads_list {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-column-gap: 30px;
	grid-row-gap: 30px;

	@include mq($until: 450px) {
		display: block;
	}

	&.edd_download_columns_1 {
		grid-template-columns: repeat(1, 1fr);
	}

	&.edd_download_columns_2 {
		grid-template-columns: repeat(2, 1fr);
	}

	&.edd_download_columns_3 {
		grid-template-columns: repeat(3, 1fr);
	}

	&.edd_download_columns_4 {
		grid-template-columns: repeat(4, 1fr);
	}

	&.edd_download_columns_5 {
		grid-template-columns: repeat(5, 1fr);
	}

	&.edd_download_columns_6 {
		grid-template-columns: repeat(6, 1fr);
	}

	&.edd_download_columns_7 {
		grid-template-columns: repeat(7, 1fr);
	}

	&.edd_download_columns_8 {
		grid-template-columns: repeat(8, 1fr);
	}

	.edd_download {
		float: none;
		width: 100%;

		@include mq($until: 450px) {
			margin-bottom: var(--PADD--MD);
		}

		.edd_download_inner {
			position: relative;
			height: 100%;
			padding: 0;
			padding-bottom: 70px;
			background-color: var(--GC-COLOR--APP);
			border-radius: var(--radius);
			box-shadow: var(--shadow);
			transition: box-shadow .2s ease;

			.edd-cart-added-alert {
				left: 50%;
				transform: translateX(-50%);
				font-size: 80%;
				color: var(--color--alt);
			}

			.edd_download_image {
				text-align: center;
				min-height: 120px;
				vertical-align: middle;
				line-height: 120px;
				border-top-left-radius: var(--radius);
				border-top-right-radius: var(--radius);

				img {
					border-top-left-radius: var(--radius);
					border-top-right-radius: var(--radius);
				}
			}

			.edd_download_title {
				margin-bottom: 0;
				padding: $padd--md;
				font-size: 110%;
				font-weight: normal;
				border-bottom: 1px solid var(--DIVIDER--LIGHT);
			}

			.edd_download_excerpt {
				padding-top: $padd--md;
				padding-left: $padd--md;
				padding-right: $padd--md;

				p {
					color: var(--GC-COLOR--TEXT--LIGHT);
				}
			}

			.edd_price {
				position: absolute;
				top: ($padd / 2);
				right: ($padd / 2);
				margin-bottom: 0;
				display: block;

				> .edd_price {
					display: inline-block;
					padding: ($padd / 2);
					color: #fff;
					background-color: rgba(0,0,0, .65);
					border-radius: var(--radius--sm);
				}
			}

			.edd_price_options {
				margin-top: $padd;
				margin-bottom: 0;

				ul {
					border: none;
				}
			}

			.edd_purchase_submit_wrapper {
				position: absolute;
				left: 0;
				right: 0;
				bottom: 0;
				margin-top: 0;
				padding: $padd--md;
				border-top: 1px solid var(--DIVIDER--LIGHT);
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;

				.button {
					width: 100%;
				}
			}

			&:hover {
				box-shadow: 0 0 0 4px var(--COLOR--PRIMARY--LIGHT);
			}
		}
	}
}

/* WIDGET WITH LIST ITEMS*/
.edd-taxonomy-widget {
	padding: 0;
	list-style: none;
	margin-top: calc(var(--PADD--MD)* -1);

	> li {
		list-style-type: none;
    padding: var(--PADD) 0;
    border-bottom: 1px solid var(--DIVIDER--LIGHT);

		&:last-of-type {
			padding-bottom: 0;
			border-bottom: none;
		}
	}
}

/* PAGINATION */
.edd_pagination {
	padding: 0 var(--PADD);
	margin-top: var(--PADD--MD);
	background-color: var(--GC-COLOR--APP);
	border-radius: var(--BORDER-RADIUS--MD);
	box-shadow: var(--BOX-SHADOW--HARD);
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: center;

	.page-numbers {
		color: var(--GC-COLOR--TEXT--LIGHT);
		padding: var(--PADD);

		&:not(.current):hover {
			color: var(--GC-COLOR--LINK);
		}

		&.current {
			position: relative;

			&:before {
				content: " ";
				position: absolute;
				display: block;
				left: 0;
				right: 0;
				bottom: 0;
				width: 70%;
				height: 3px;
				margin-left: auto;
				margin-right: auto;
				background-color: var(--GC-COLOR--PRIMARY--LIGHT);
				border-top-left-radius: var(--BORDER-RADIUS);
				border-top-right-radius: var(--BORDER-RADIUS);
			}
		}

		&.next {
			margin-left: auto;
		}

		&.prev {
			margin-right: auto;
		}
	}
}

#edd_checkout_cart_form {
	margin-bottom: var(--PADD--XL);
}

.edd-table {
	border: 1px solid var(--th-border);
}

#edd_checkout_cart {
	border: 1px solid var(--th-border);

	.edd_cart_item_image {
		display: inline-block;
		margin-right: var(--PADD);
	}

	th.edd_cart_total {
		text-align: center;
	}
}

.edd_license_keys {
	td {
		color: var(--GC-COLOR--TEXT);
	}
}

.edd_sl_license_key {
	word-break: break-word;
}

.edd-cart-added-alert {
	font-size: 80%;
	color: var(--color--alt);

	> svg {
		fill: var(--GC-COLOR--SUCCESS);
    width: 25px;
    transform: translateY(8px);
	}
}

.edd-payment-icons {
	margin-bottom: var(--PADD);

	.payment-icon {
		margin-right: 5px;
	}	
}

#edd_cc_fields {
	.card-expiration {
		> select {
			width: 45%;
		}
	}
}
